/* Основные стили для выпадающего меню */
.dropdown-menu {
    border-radius: 4px;
    padding: 0.5rem 0;
}

/* Стили для вложенных выпадающих меню */
.dropdown-menu > li > .dropdown-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    margin-top: -8px; /* Корректировка позиции */
    z-index: 1000; /* Убедитесь, что меню выше других элементов */
    min-width: 200px; /* Минимальная ширина меню */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для эффекта глубины */
}

/* Показ вложенного меню при наведении */
.dropdown-menu > li:hover > .dropdown-menu {
    display: block;
}

/* Убираем стрелку для вложенных выпадающих меню */
.dropdown-submenu > a::after {
    display: none;
}

/* Улучшение внешнего вида пунктов меню */
.dropdown-item {
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
    color: #007bff;
}

/* Стиль для фиксированной шапки */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Чтобы шапка была поверх других элементов */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Добавляем тень для лучшего визуального эффекта */
}

/* Отступ для основного контента, чтобы он не скрывался под шапкой */
body {
    padding-top: 80px; /* Высота шапки + немного дополнительного пространства */
}

@media (max-width: 768px) {
    .thumbnail {
        width: 60px;
        height: 60px;
    }
}

/* Стили для карточек брендов */
.brand-card {
    width: 120px;
    flex-shrink: 0;
    text-align: center;
}

.brand-logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 10px;
}

/* Стили для слайдера */
#brand-slider .carousel-inner {
    display: flex;
    align-items: center;
}

#brand-slider .carousel-item {
    display: flex;
    justify-content: center;
    gap: 15px;
}